# Prerequisites
*.d
*.prob

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
CPS Bootcamp/Phase 1/Contest 01/input.txt
CPS Bootcamp/Phase 1/Contest 01/output.txt
CPS Bootcamp/Phase 1/Contest 01/tempCodeRunnerFile.c
CPS Bootcamp/Phase 1/Contest 01/A
CPS Bootcamp/Phase 1/Contest 01/.vscode/tasks.json
